<% include ./partials/header.ejs %>
<% include ./partials/navigation.ejs %>

<div class="section hero">
<div class="container">
<div class="row">
<h1>Track Hours</h1>
<div class="col-sm-12 text-center">
  <form method="post">
          <div class="form-group">
            <label for="name" class="col-sm-2 control-label">Task Name: *</label>
            <input name="name" id="name" required />
          </div>
          <div class="form-group">
            <label for="date" class="col-sm-2 control-label">Date: *</label>
            <input name="date" id="date" required />
          </div>
          <div class="form-group">
            <label for="starttime" class="col-sm-2 control-label">Start Time: *</label>
            <input name="starttime" id="starttime" required />
          </div>
          <div class="form-group">
            <label for="endtime" class="col-sm-2 control-label">Endtime: *</label>
            <input name="endtime" id="endtime" required />
          </div>

          <button class="btn btn-success col-sm-offset-2">Save</button>
        </form>
</div>

</div>
<a href="stats"><i class="fa fa-arrow-circle-o-right fa-5x pull-right next-arrow" aria-hidden="true"></i></a>
</div>
</div>

<% include ./partials/footer.ejs %>
