<% include ./partials/header.ejs %>

<% include ./partials/navigation.ejs %>
<div class="section hero">
<div class="container">
<div class="row">
<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th>Dates</th>
      <th>Cup Sizes</th>
      <th>Total Intake</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
</div>
<a href="stats"><i class="fa fa-arrow-circle-o-right fa-5x pull-right next-arrow" aria-hidden="true"></i></a>
</div>
</div>

<% include ./partials/footer.ejs %>
