<% include ./partials/header.ejs %>

<% include ./partials/navigation.ejs %>
<div class="section hero">
<div class="container">
<div class="row">

</div>
<a href="stats"><i class="fa fa-arrow-circle-o-right fa-5x pull-right next-arrow" aria-hidden="true"></i></a>
</div>
</div>

<% include ./partials/footer.ejs %>
