<% include ./partials/header.ejs %>

<% include ./partials/navigation.ejs %>

<div class="section values">
    <div class="container">
      <div class="row">
        <a class="btn btn-primary" href="#">Add a Cup!</a>
      </div>
    </div>
  </div>
<div class="section values">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <h2 class="value-multiplier">67%</h2>
          <h5 class="value-heading">Purchase Increase</h5>
          <p class="value-description">Percentage of users more likely to purchase on mobile friendly site.</p>
        </div>
        <div class="col-sm-4">
          <h2 class="value-multiplier">90%</h2>
          <h5 class="value-heading">Multi-device Users</h5>
          <p class="value-description">Most of the world accesses the internet on multiple devices.</p>
        </div>
        <div class="col-sm-4">
          <h2 class="value-multiplier">66%</h2>
          <h5 class="value-heading">Sad Users</h5>
          <p class="value-description">Percentage of users that are frustrated with page load times.</p>
        </div>
      </div>
      <a href="stats"><i class="fa fa-arrow-circle-o-right fa-5x pull-right next-arrow" aria-hidden="true"></i></a>
    </div>
  </div>

<% include ./partials/footer.ejs %>
